## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,San Rafael,AR,68.92,clear sky,-34.6177,-68.3301,Hotel San Rafael
1,2,Bluff,NZ,56.03,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,3,Ponta Do Sol,PT,59.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
3,4,Ancud,CL,56.16,light rain,-41.8697,-73.8203,Hotel Arena Gruesa
4,12,Sao Filipe,CV,69.44,clear sky,14.8961,-24.4956,Hotel Xaguate

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Te Anau")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Te Anau")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Dunedin")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Kaitangata")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Tuatapere")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
94,390,Tuatapere,NZ,57.81,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = list(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = list(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = list(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = list(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = list(vacation_stop3[["Lat","Lng"]].to_numpy()[0])
stop3

[-46.1333, 167.6833]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, 
                                         waypoints = [stop1, stop2, stop3], 
                                         travel_mode = "DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,337,Te Anau,NZ,66.78,clear sky,-45.4167,167.7167,Kingsgate Hotel Te Anau
1,608,Dunedin,NZ,57.33,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
2,247,Kaitangata,NZ,58.75,overcast clouds,-46.2817,169.8464,Kaitangata Motor Camp
3,390,Tuatapere,NZ,57.81,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(-45.41, 167.71), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))